body {
  min-width: 100px;
  min-height: 50px;
  max-width: 600px;
  max-height: 500px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  transition: height .3s, width .3s;
}

#app-container { 
  min-height: 50px;
  display: flex;
  flex-direction: column;
}
